{
  "presets": [
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-do-expressions",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
    // ,"closure-elimination"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}